.listadoPacientes {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-left: 7px;
}

.tituloListado {
   display: flex;
   justify-content: center;
   text-align: center;
   margin: 0px auto;
}